// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
@import "pages/about";

// Components
@import "cmps/app-header";



a.active, a.my-active {
    color: #0f0080;
}





// footer
.app {
    min-height: 100vh;
    position: relative;

    main.container {
        // padding-bottom: 150px;
    }

    .app-footer {
        // background-color: #222;
        // color: white;
        // width: 100%;
        // position: absolute;
        // bottom: 0;
        // .container {
        //     display: flex;
        //     align-items: center;
        // }
    }
}


.btn-section {
    text-align: center;
    margin-top: 30px;
}